body{
    margin: 0;
}

.HomePage1{
    background-image: url('../../../assets/home-page.png');
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}