.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .mat-menu-item {
    background-color: white ;

  }
  .mat-menu-content:hover {
      background-color: aquamarine;
      color: black;
  }
//   .mat-menu-content:not(:empty) {
//     padding-bottom: 0px !important ;
//     padding-top: 0px !important;
// }