/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.modalClass .mat-dialog-container {
    align-items: center;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.modalClass .mat-dialog-content {
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 17%;
    margin: 0px;
    overflow: auto;
}
.modalClass .mat-dialog-title {
    margin: 0px;
    text-align: center;
    background-color: mediumaquamarine;
    color: white;
}


