<div style="display: flex; flex-direction: row">
    <div style="width: 60%; margin-right: 5px">
        <form [formGroup]="leaveForm" #leaveFormDirective="ngForm">
            <div class="heading">
                <mat-card>Leave Details</mat-card>
            </div>
            <div class="HomePage">
                <div formArrayName="leaves" *ngFor="let item of leaveForm.get('leaves')['controls']; let i = index;">
                    <div [formGroupName]="i">
                        <mat-form-field #firstfield class="fields">
                            <input matInput [matDatepicker]="picker3" placeholder="Leave Date" formControlName="leaveDate">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="fields">
                            <input matInput placeholder="Leave ID / Comp Off Date" formControlName="compOff">
                        </mat-form-field>
                        <mat-icon *ngIf="leaveForm.controls.leaves.controls.length > 1" (click)="deleteDates(i)" color="warn">
                            clear</mat-icon>
                    </div>
                </div>
            </div>
        </form>
        <div class="button">
            <button mat-raised-button color="primary" (click)="submitLeaves()" style="margin-right: 1%; margin-bottom: 1%;" [disabled]="!leaveForm.valid">Submit Leave Details</button>
            <button mat-raised-button color="warn" (click)=addDates() style="margin-right: 1%;">Add another Leave</button>
        </div>
    </div>
    <div style="width: 40%; margin-right: 10px">
        <div class="heading">
            <mat-card> Leaves History
            </mat-card>
        </div>
        <ag-grid-angular #agGrid style="width: 97%; height: 500px; margin-left: 10px; margin-top: 10px;" class="ag-theme-balham"
            [rowData]="rowData" [columnDefs]="columnDefs" (selectionChanged)='onSelectionChanged($event)' rowSelection="multiple">
        </ag-grid-angular>
        <div class="button1">
            <button mat-raised-button color="primary" [disabled]="!deleteData" (click)="deleteLeaves()">Delete Leave</button>
        </div>
    </div>
</div>