body{
    margin: 0;
}

.HomePage1{
    background-image: url('..//..//assets/IMG_E6923.JPG');
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}